<div class="header">

    <div class="row2">
        <div class="col-md-6">
            Gary Mehigan X Nicobar is here |
            <a href="www.google.com">Shop new collection</a>
        </div>
        <div class="col-md-6">
            NICO RADIO: A specially curated musical stream |
            <a href="www.google.com">Tune in</a>

        </div>

    </div>
    <div>

            <a href="www.google.com">Home</a> |
            <a href="google.com">News</a> |
            <a href="contact.asp">Contact</a> |
            <a href="about.asp">About</a>
            <input type="search" placeholder="Search here" class="search">
        </div> 

    </div>
